.app {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.circle {
    background: radial-gradient(circle, #f0eada, #d4c4b7, #b8a09b, #9d7c7f, #825863);
    width: 60px;
    height: 60px;
    border-radius: 25%;
    position: absolute;
}
