html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.root {
  --color-purple: #461d7c;
  --color-yellow: #fdd023;
  --color-cream: #f0eada;
  --color-black: #000000;
  --color-grey: #999999;
}

.body {
  color: rgb(var(--color-black));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--color-black))
    )
    rgb(var(--color-black));
}
