/* Korrigierte Version von globals.css */

/* Setzt Basis-Styles für html und body */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

/* Definiert Farbvariablen für einfache Wiederverwendung */
:root {
  --color-purple: #461d7c;
  --color-yellow: #fdd023;
  --color-cream: #f0eada;
  --color-black: #000000;
  --color-grey: #999999;
}

/* Stil für Textauswahl */
::selection {
  background: var(--color-purple);
  color: var(--color-yellow);
}

/* Stil für Elemente mit der Klasse .body */
.body {
  color: var(--color-black);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--color-black)
    );
}