.appBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100%;
    height: 100vh;
}

.containerRight {
    background-color: #f0eada;
    width: 100%;
    height: 100vh;
}