.appBody {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    position: relative;
}

.containerLeft, .containerRight {
    flex: 1; /* Distribute space equally */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Ensure each container takes up half the width */
    min-height: 100vh;;
}

.containerLeft {
    background-color: #000000;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.containerRight {
    background-color: #f0eada;
    transition: opacity 1s ease-in-out;
    z-index: 2;
    position: relative; /* Important for positioning of animated elements */
    overflow: hidden; /* Prevent overflow */
}

.containerRightSuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 50%; /* Ensures it takes up half the width */
    min-height: 100vh; /* Minimum height of full viewport height */
    transition: opacity 1s ease-in-out;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.containerRightSuccess.animate {
    opacity: 1; /* Make the container visible */
}

.containerLeftSuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 50%; /* Ensures it takes up half the width */
    position: sticky; /* Sticky positioning */
    top: 50%; /* Stick to the top */
    z-index: 2;
    overflow: hidden;
    /* Remove fixed height */
}
